## Importing Libraries

In [11]:
import pandas as pd
import numpy as np
import os

## Importing Data

In [13]:
path = r'C:\Users\ariel\OneDrive\Desktop\School work\08-2020 Instacart Basket Analysis'

In [15]:
path

'C:\\Users\\ariel\\OneDrive\\Desktop\\School work\\08-2020 Instacart Basket Analysis'

In [17]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_derived.pkl'))

## Creating a Subset of the Data

In [23]:
df = ords_prods_merge[:1000000]

In [25]:
df.shape

(1000000, 19)

In [27]:
df.head(10)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.00,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.00,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.00,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,11.11,10,0,both,Mid-range product,Regularly busy,Least busy days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.00,11,1,both,Mid-range product,Least busy,Least busy days,Average orders
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,7,26.00,7,0,both,Mid-range product,Regularly busy,Busiest days,Average orders
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,2,14,30.00,2,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,prior,12,3,10,30.00,1,0,both,Mid-range product,Regularly busy,Least busy days,Most orders
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,prior,10,1,20,19.00,1,0,both,Mid-range product,Regularly busy,Busiest days,Average orders
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,prior,15,1,12,15.00,2,1,both,Mid-range product,Regularly busy,Busiest days,Most orders

## Grouping Data with Pandas

In [29]:
df.groupby('product_name')

## Aggregating Data with agg()

In [31]:
#Grouping data into groups based on department ID and aggregating each group to obtain the mean values for the order number column
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [33]:
#Calculating despriptive statistics in the order number column
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.577493   1  99
2                17.320781   1  96
3                16.084944   1  99
4                17.530458   1  99
5                14.763075   1  99
6                16.658449   1  99
7                17.031590   1  99
8                15.076662   1  98
9                15.447580   1  99
10               18.681852   1  99
11               15.447411   1  99
12               14.327957   1  99
13               16.548642   1  99
14               16.960241   1  99
15               16.121948   1  99
16               17.803851   1  99
17               15.593633   1  99
18               19.674252   1  99
19               16.899756   1  99
20               16.255442   1  99
21               25.535479   1  98

## Aggregating Data with transform() On Full Dataset (Step 4 in task)

In [35]:
#Using the transform function to find loyal customers
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform('max')

In [37]:
ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.00,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.00,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.00,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,11.11,10,0,both,Mid-range product,Regularly busy,Least busy days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.00,11,1,both,Mid-range product,Least busy,Least busy days,Average orders,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,7,26.00,7,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,26
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,2,14,30.00,2,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,prior,12,3,10,30.00,1,0,both,Mid-range product,Regularly busy,Least busy days,Most orders,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,prior,10,1,20,19.00,1,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,prior,15,1,12,15.00,2,1,both,Mid-range product,Regularly busy,Busiest days,Most orders,20
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,prior,1,5,11,11.11,1,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,10
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,prior,36,3,13,7.00,1,0,both,Mid-range product,Regularly busy,Least busy days,Most orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,prior,38,4,13,7.00,3,1,both,Mid-range product,Least busy,Least busy days,Most orders,43
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,prior,39,2,12,12.00,4,1,both,Mid-range product,Regularly busy,Regularly busy,Most orders,43
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,prior,6,3,10,2.00,8,0,both,Mid-range product,Regularly busy,Least busy days,Most orders,13

In [39]:
#Sorting the data set by the beginning of the user ID column
ords_prods_merge_sort = ords_prods_merge.sort_values(by = 'user_id')

In [40]:
ords_prods_merge_sort

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
6002731,10326,Organic Fuji Apples,24,4,2.7,431534,1,prior,5,4,15,28.00,5,0,both,Low-range product,Least busy,Least busy days,Most orders,10
92374,196,Soda,77,7,9.0,550135,1,prior,7,1,9,20.00,1,1,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
92373,196,Soda,77,7,9.0,3367565,1,prior,6,2,7,19.00,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
92371,196,Soda,77,7,9.0,2254736,1,prior,4,4,7,29.00,1,1,both,Mid-range product,Least busy,Least busy days,Average orders,10
92370,196,Soda,77,7,9.0,473747,1,prior,3,3,12,21.00,1,1,both,Mid-range product,Regularly busy,Least busy days,Most orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21518543,33129,Classic Hummus,67,20,1.3,626363,206209,prior,12,1,12,18.00,9,1,both,Low-range product,Regularly busy,Busiest days,Most orders,13
12350504,20842,Total 0% Greek Yogurt,120,16,13.6,3154581,206209,prior,1,3,11,11.11,11,0,both,Mid-range product,Regularly busy,Least busy days,Most orders,13
26342158,40992,Chopped Tomatoes,81,15,1.8,2129269,206209,prior,8,3,17,22.00,9,1,both,Low-range product,Regularly busy,Least busy days,Average orders,13
26025010,40534,In Rich Tomato Sauce Vegetarian Beans,59,15,13.3,3154581,206209,prior,1,3,11,11.11,6,0,both,Mid-range product,Regularly busy,Least busy days,Most orders,13
14855822,23892,Original High Efficiency Liquid Laundry Detergent,75,17,9.1,688306,206209,prior,4,1,10,30.00,16,1,both,Mid-range product,Regularly busy,Busiest days,Most orders,13

In [41]:
ords_prods_merge_sort.head(100)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
6002731,10326,Organic Fuji Apples,24,4,2.7,431534,1,prior,5,4,15,28.0,5,0,both,Low-range product,Least busy,Least busy days,Most orders,10
92374,196,Soda,77,7,9.0,550135,1,prior,7,1,9,20.0,1,1,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
92373,196,Soda,77,7,9.0,3367565,1,prior,6,2,7,19.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
92371,196,Soda,77,7,9.0,2254736,1,prior,4,4,7,29.0,1,1,both,Mid-range product,Least busy,Least busy days,Average orders,10
92370,196,Soda,77,7,9.0,473747,1,prior,3,3,12,21.0,1,1,both,Mid-range product,Regularly busy,Least busy days,Most orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8696291,14553,Oats & Honey Granola,57,14,11.7,1673511,2,prior,5,3,11,8.0,8,0,both,Mid-range product,Regularly busy,Least busy days,Most orders,14
30394388,47144,Unsweetened Original Almond Breeze Almond Milk,91,16,14.0,1673511,2,prior,5,3,11,8.0,1,0,both,Mid-range product,Regularly busy,Least busy days,Most orders,14
15430750,24852,Banana,24,4,12.3,839880,2,prior,14,3,10,13.0,1,1,both,Mid-range product,Regularly busy,Least busy days,Most orders,14
30454263,47209,Organic Hass Avocado,24,4,4.0,839880,2,prior,14,3,10,13.0,10,1,both,Low-range product,Regularly busy,Least busy days,Most orders,14
21299894,32792,Chipotle Beef & Pork Realstick,23,19,5.2,1718559,2,prior,9,2,9,8.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Most orders,14

In [45]:
#Removing the limit to the amount of rows shown on the dataset
pd.options.display.max_rows = None

## Deriving Columns with loc() From exercise (Also Step 4 in task)

In [47]:
##Creating the flag that assigns a loyalty label to a user ID
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [49]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [51]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [53]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [55]:
ords_prods_merge.head(5)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,...,days_since_last_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,3.00,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,20.00,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,6.00,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,11.11,10,0,both,Mid-range product,Regularly busy,Least busy days,Most orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,9.00,11,1,both,Mid-range product,Least busy,Least busy days,Average orders,3,New customer

In [57]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             1
4       764      New customer             3
5       777  Regular customer            16
6       825      New customer             3
7       910  Regular customer            12
8      1052  Regular customer            10
9      1052  Regular customer            15
10     1379      New customer             1
11     1480    Loyal customer            36
12     1480    Loyal customer            38
13     1480    Loyal customer            39
14     1494  Regular customer             6
15     1494  Regular customer             7
16     1494  Regular customer             9
17     1540  Regular customer             4
18     1540  Regular customer             5
19     1540  Regular customer             6
20     1540  Regular customer             7
21     1540  Regular customer             8
22     1540  Regular customer             9
23     1540  Regular customer            14
24     1540  Regular customer            15
25     1540  Regular customer            18
26     1540  Regular customer            19
27     1540  Regular customer            20
28     1540  Regular customer            21
29     1540  Regular customer            22
30     1540  Regular customer            24
31     1540  Regular customer            25
32     1540  Regular customer            27
33     1540  Regular customer            28
34     1598      New customer             1
35     1598      New customer             2
36     1598      New customer             3
37     1647      New customer             1
38     1647      New customer             4
39     1647      New customer             6
40     1647      New customer             8
41     1647      New customer             9
42     2833      New customer             1
43     2850  Regular customer             7
44     2857  Regular customer            24
45     3010  Regular customer             5
46     3029      New customer             1
47     3395      New customer             4
48     3904      New customer             1
49     4006    Loyal customer             2
50     4006    Loyal customer             3
51     4006    Loyal customer             5
52     4006    Loyal customer             9
53     4006    Loyal customer            12
54     4122  Regular customer            11
55     4141      New customer             2
56     4343      New customer             1
57     4553      New customer             3
58     4845  Regular customer             6
59     6866      New customer             1

## Finding the aggregated mean of the order number coluimn grouped by department ID for the entire dataframe

In [59]:
#2
#Finding the aggregated mean of the order number coluimn grouped by department ID for the entire dataframe
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

#3.
The means in the subset of the data are slightly different from the means in the full dataset. Some means are higher and lower, but they are all sligtly different.

## Looking for difference in spending habits by product prices between the 3 types of customers. #5.

In [61]:
# Use groupby and agg() to determine basic statisitcs of spending habits by loyalty group
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

The loyal customers pay the least on average for products. New customers spend about $3.00 more on average on products.

## Creating a spending flag for customers #6.

In [63]:
# Use transform() to determine the mean price of products purchased by each user
ords_prods_merge['mean_product_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [65]:
ords_prods_merge[['user_id', 'mean_product_price']].head(20)

    user_id  mean_product_price
0       138            6.935811
1       138            6.935811
2       709            7.930208
3       764            4.972414
4       764            4.972414
5       777            6.935398
6       825            5.957576
7       910            6.680000
8      1052            7.162500
9      1052            7.162500
10     1379            5.813636
11     1480            5.081633
12     1480            5.081633
13     1480            5.081633
14     1494            6.803797
15     1494            6.803797
16     1494            6.803797
17     1540            6.607122
18     1540            6.607122
19     1540            6.607122

In [67]:
# Create spending_flag column using loc() function
ords_prods_merge.loc[ords_prods_merge['mean_product_price'] >= 10, 'spending_flag'] = 'High spender'

In [69]:
ords_prods_merge.loc[ords_prods_merge['mean_product_price'] < 10, 'spending_flag'] = 'Low spender'

In [71]:
#Check frequency of new spending_flag column
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [73]:
# View relevant columns of updated data frame
ords_prods_merge[['user_id', 'mean_product_price', 'spending_flag']].head(20)

    user_id  mean_product_price spending_flag
0       138            6.935811   Low spender
1       138            6.935811   Low spender
2       709            7.930208   Low spender
3       764            4.972414   Low spender
4       764            4.972414   Low spender
5       777            6.935398   Low spender
6       825            5.957576   Low spender
7       910            6.680000   Low spender
8      1052            7.162500   Low spender
9      1052            7.162500   Low spender
10     1379            5.813636   Low spender
11     1480            5.081633   Low spender
12     1480            5.081633   Low spender
13     1480            5.081633   Low spender
14     1494            6.803797   Low spender
15     1494            6.803797   Low spender
16     1494            6.803797   Low spender
17     1540            6.607122   Low spender
18     1540            6.607122   Low spender
19     1540            6.607122   Low spender

## Determining frequent vs. non-frequent customers based on frequency and regularity of a user's ordering behavior #7.

In [79]:
##Use groupby and transform to determine median number of days between orders for each user
ords_prods_merge['median_days_between_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform('median')

In [81]:
ords_prods_merge[['user_id', 'days_since_last_order', 'median_days_between_orders']].head(20)

    user_id  days_since_last_order  median_days_between_orders
0       138                   3.00                        8.00
1       138                  20.00                        8.00
2       709                   6.00                        8.00
3       764                  11.11                       11.11
4       764                   9.00                       11.11
5       777                  26.00                       11.00
6       825                  30.00                       19.00
7       910                  30.00                        6.00
8      1052                  19.00                       10.00
9      1052                  15.00                       10.00
10     1379                  11.11                       20.00
11     1480                   7.00                        7.00
12     1480                   7.00                        7.00
13     1480                  12.00                        7.00
14     1494                   2.00                        7.00
15     1494                   6.00                        7.00
16     1494                  10.00                        7.00
17     1540                   7.00                        7.00
18     1540                   6.00                        7.00
19     1540                  14.00                        7.00

In [83]:
# Create order frequency flag using loc function
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] > 20, 'order_frequency'] = 'Non-frequent customer'

In [85]:
ords_prods_merge.loc[(ords_prods_merge['median_days_between_orders'] <= 20) & (ords_prods_merge['median_days_between_orders'] > 10), 'order_frequency'] = 'Regular customer'

In [87]:
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] <= 10, 'order_frequency'] = 'Frequent customer'

In [89]:
# Check value counts of new order_frequency column
ords_prods_merge['order_frequency'].value_counts(dropna = False)

order_frequency
Frequent customer        20535136
Regular customer          9168905
Non-frequent customer     2700818
Name: count, dtype: int64

In [91]:
ords_prods_merge[['user_id', 'days_since_last_order', 'median_days_between_orders', 'order_frequency']].head(25)

,user_id,days_since_last_order,median_days_between_orders,order_frequency
0,138,3.00,8.00,Frequent customer
1,138,20.00,8.00,Frequent customer
2,709,6.00,8.00,Frequent customer
3,764,11.11,11.11,Regular customer
4,764,9.00,11.11,Regular customer
5,777,26.00,11.00,Regular customer
6,825,30.00,19.00,Regular customer
7,910,30.00,6.00,Frequent customer
8,1052,19.00,10.00,Frequent customer
9,1052,15.00,10.00,Frequent customer
10,1379,11.11,20.00,Regular customer
11,1480,7.00,7.00,Frequent customer
12,1480,7.00,7.00,Frequent customer
13,1480,12.00,7.00,Frequent customer
14,1494,2.00,7.00,Frequent customer
15,1494,6.00,7.00,Frequent customer
16,1494,10.00,7.00,Frequent customer
17,1540,7.00,7.00,Frequent customer
18,1540,6.00,7.00,Frequent customer
19,1540,14.00,7.00,Frequent customer
20,1540,8.00,7.00,Frequent customer
21,1540,6.00,7.00,Frequent customer
22,1540,28.00,7.00,Frequent customer
23,1540,7.00,7.00,Frequent customer
24,1540,7.00,7.00,Frequent customer

## Cleaning up outliers in data Task 4.9

In [19]:
#Investigating outliers (any price beyond $100)
ords_prods_merge.loc[ords_prods_merge['prices'] > 100]

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
13100147,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,912404,17,prior,12,2,14,5.0,5,0,both,High-range product,Regularly busy,Regularly busy,Most orders
13100148,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,603376,17,prior,22,6,16,4.0,3,1,both,High-range product,Regularly busy,Regularly busy,Most orders
13100149,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,3264360,135,prior,2,2,21,13.0,6,0,both,High-range product,Regularly busy,Regularly busy,Average orders
13100150,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,892534,135,prior,3,0,8,12.0,3,1,both,High-range product,Busiest day,Busiest days,Average orders
13100151,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,229704,342,prior,8,1,19,30.0,9,0,both,High-range product,Regularly busy,Busiest days,Average orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21786876,33664,2 % Reduced Fat Milk,84,16,99999.0,2249946,204099,prior,29,0,8,4.0,1,0,both,High-range product,Busiest day,Busiest days,Average orders
21786877,33664,2 % Reduced Fat Milk,84,16,99999.0,2363282,204099,prior,31,0,9,2.0,1,1,both,High-range product,Busiest day,Busiest days,Most orders
21786878,33664,2 % Reduced Fat Milk,84,16,99999.0,3181945,204395,prior,13,3,15,8.0,25,0,both,High-range product,Regularly busy,Least busy days,Most orders
21786879,33664,2 % Reduced Fat Milk,84,16,99999.0,2486215,205227,prior,7,3,20,4.0,8,0,both,High-range product,Regularly busy,Least busy days,Average orders
21786880,33664,2 % Reduced Fat Milk,84,16,99999.0,2232716,205227,prior,10,0,11,4.0,23,1,both,High-range product,Busiest day,Busiest days,Most orders

In [23]:
#Marking outliers as missing values
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [25]:
ords_prods_merge['prices'].max()

25.0

## Exporting Data

In [93]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_grouped.pkl'))