## Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import os

## Importing Data

In [5]:
path = r'C:\Users\ariel\OneDrive\Desktop\School work\08-2020 Instacart Basket Analysis'

In [7]:
path

'C:\\Users\\ariel\\OneDrive\\Desktop\\School work\\08-2020 Instacart Basket Analysis'

In [9]:
#Importing orders products combined data frame
df_orders_products = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [11]:
df_orders_products.shape

(32434489, 13)

In [23]:
df_orders_products.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,11.11,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,11.11,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,11.11,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,11.11,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,11.11,26405,5,0,both

In [17]:
#Importing Products Data
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [19]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [21]:
df_prods.shape

(49672, 6)

## Merging Data Frames

In [26]:
#Drop unnamed columns in df_prods
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [34]:
#Drop unnamed columns in df_orders_products
df_orders_products = df_orders_products.drop(columns = ['Unnamed: 0.1', 'Unnamed: 0', '_merge'])

In [38]:
#Merge df_prods and df_orders_products dataframes
df_merged = df_prods.merge(df_orders_products, on = 'product_id', indicator = True)

In [40]:
df_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.00,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.00,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.00,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,11.11,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.00,11,1,both

## Confirm results of merge using merge flag

In [45]:
df_merged

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.00,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.00,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.00,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,11.11,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.00,11,1,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,49688,Fresh Foaming Cleanser,73,11,13.5,1788356,200215,prior,2,0,9,5.00,27,0,both
32404855,49688,Fresh Foaming Cleanser,73,11,13.5,3401313,200377,prior,1,4,11,11.11,5,0,both
32404856,49688,Fresh Foaming Cleanser,73,11,13.5,809510,200873,prior,5,3,8,15.00,12,0,both
32404857,49688,Fresh Foaming Cleanser,73,11,13.5,2359893,200873,prior,9,3,15,5.00,11,1,both
32404858,49688,Fresh Foaming Cleanser,73,11,13.5,2385091,205926,prior,11,1,15,6.00,35,0,both

In [47]:
df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

## Exporting Dataframe

In [50]:
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))